<!DOCTYPE html>
<html>
  <head>
    <title>Projection - Centrale Marseille</title>


    <% include partials/head_css_import.ejs %>
  </head>
  <body>
    <div class="container" id="container">
    <!-- Page Content goes here -->
      <div class="row">

      <div class="col s12">

        <%- data %>
      </div>




      </div>
    </div>

    <% include partials/js_import.ejs %>
    <script>
      setTimeout(function(){
        window.location.reload(1);
      }, 20000);


    </script>
  </body>
</html>
